<div>

  <button type="button" class="btn btn-danger navbar-btn" {{action 'delete' health}}> DELETE HEALTH</button>
</div>

<div>

  {{#each model.agricultures as |agriculture|}}
 <h2>{{agriculture.companyname}}</h2>
<button type="button" class="btn btn-danger navbar-btn" {{action 'delete' agriculture}}> DELETE AGRICULTURE</button>
{{/each}}
</div>

<div>
  <button type="button" class="btn btn-danger navbar-btn" {{action 'delete' it}}> DELETE IT</button>
</div>

<div>
  <button type="button" class="btn btn-danger navbar-btn" {{action 'delete' supply}}> DELETE SUPPLIES</button>
</div>

<div>
  <button type="button" class="btn btn-danger navbar-btn" {{action 'delete' other}}> DELETE OTHERS</button>
</div>
