{{#if addNewTender}}
<h1>Give Your Answer</h1>
<div>
  <form>
    <div class="form-group">
      <label for="companyname">Company Name:</label>
      {{input value=companyname  id="companyname"}}
    </div>
    <div class="form-group">
      <label for="details">Deatils:</label>
      {{ input value= details id="details"}}
    </div>
    <div class="form-group">
      <label for="tender_no">Tender No:</label>
      {{input value=tender_no  id="tender_no"}}
    </div>
    <div class="form-group">
      <label for="open_dates">Open Dates:</label>
      {{input value=open_dates  id="open_dates"}}
    </div>
    <div class="form-group">
      <label for="close_dates">Close Dates:</label>
      {{input value=close_dates  id="close_dates"}}
    </div>

        <!-- <button {{action 'saveAgriculture1'}}> save agriculture</button> -->
  <li>  <button {{action 'saveAgriculture1'}}>  AGRICULTURE</button></li>
        <li>  <button {{action 'saveIt1'}}>IT</button></li>
        <li>  <button {{action 'saveHealth1'}}>HEALTH</button></li>
        <li>  <button {{action 'saveSupply1'}}>SUPPLIES</button></li>
        <li>  <button {{action 'saveOther1'}}>OTHERS</button></li>

  </form>
</div>
{{else}}
    <button {{action 'tenderFormShow'}}> ADD TENDER</button>

{{/if}}



{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'index'}}Home{{/link-to}}
